O interpretador Python possui o módulo built-in sqlite3, que permite utilizar o mecanismo de banco de dados SQLite.

In [1]:
import sqlite3
 
conn = sqlite3.connect('aulaDB.db')

Aplicação do CRUD no banco de dados SQLite

**CREATE**

A variável conn guarda a instância de conexão com o banco de dados

In [ ]:
cursor = conn.cursor()
cursor.execute("""
INSERT INTO fornecedor (nome_fornecedor, cnpj, cidade, estado, cep, data_cadastro)
VALUES ('Empresa A', '11.111.111/1111-11', 'São Paulo', 'SP', '11111-111', '2020-01-01')
""")
conn.commit()

**READ**

Para ler os dados em uma tabela, também precisamos estabelecer uma conexão e criar um objeto cursor para executar a instrução de seleção. Ao executar a seleção, podemos usar o método fetchall(), para capturar todas as linhas mediante uma lista de tuplas.

In [ ]:
cursor.execute("SELECT * FROM fornecedor")
resultado = cursor.fetchall()
for linha in resultado:
    print(linha)

**UPDATE**

Ao inserir um registro no banco, pode ser necessário alterar o valor de uma coluna, o que pode ser feito por meio da instrução SQL UPDATE.

In [ ]:
cursor.execute("UPDATE fornecedor SET cidade = 'Campinas' WHERE id_fornecedor = 5")
conn.commit()

**DELETE**

Ao inserir um registro no banco, pode ser necessário removê-lo no futuro, o que pode ser feito por meio da instrução SQL DELETE.

In [ ]:
cursor.execute("DELETE FROM fornecedor WHERE id_fornecedor = 2") 
conn.commit()