In [2]:
import pandas as pd

Como uma ferramenta de alto nível, pandas possui duas estruturas de dados que são as principais para a análise/manipulação de dados: a Series e o DataFrame

Para construir um objeto do tipo Series

pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

In [3]:
pd.Series(data=5) # Cria uma Series com o valor a
pd.Series('Howard Ian Peter Jonah Kellie'.split()) # Cria uma Series com uma lista de nomes

0    Howard
1       Ian
2     Peter
3     Jonah
4    Kellie
dtype: object

Como todos os parâmetros possuem valores padrão (default), o que permite instanciar um objeto de diferentes formas

**DataFrame**

pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

In [4]:
# Cria um DataFrame, de uma coluna a partir de uma lista
pd.DataFrame('Howard Ian Peter Jonah Kellie'.split(), columns=['nome'])

     nome
0  Howard
1     Ian
2   Peter
3   Jonah
4  Kellie

In [6]:
lista_nomes = 'Howard Ian Peter Jonah Kellie'.split()
lista_cpfs = '111.111.111-11 222.222.222-22 333.333.333-33 444.444.444-44 55.555.555-55'.split()
lista_emails = 'risus.varius@dictumPhasellusin.ca Nunc@vulputate.ca fames.ac.turpis@cursusa.org non@felisullamcorper.org eget.dictum.placerat@necluctus.co.uk'.split()
lista_idades = [32, 22, 25, 29, 38]
dados = list(zip(lista_nomes, lista_cpfs, lista_idades, lista_emails)) # cria uma lista de tuplas # Cria um DataFrame a partir de uma lista de tuplas
pd.DataFrame(dados, columns=['nome', 'cpfs', 'idade', 'email'])

     nome            cpfs  idade                                 email
0  Howard  111.111.111-11     32     risus.varius@dictumPhasellusin.ca
1     Ian  222.222.222-22     22                     Nunc@vulputate.ca
2   Peter  333.333.333-33     25           fames.ac.turpis@cursusa.org
3   Jonah  444.444.444-44     29              non@felisullamcorper.org
4  Kellie   55.555.555-55     38  eget.dictum.placerat@necluctus.co.uk